name: Build and Push

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
  
    steps:
      - name: Login
        uses: docker/login-action@v1
        with:
          username: ${{secrets.DOCKERHUB_USER}}
          password: ${{secrets.DOCKERHUB_TOKEN}}

      - name: Build and Push
        id: test_actions
        uses: docker/build-push-action@v2
        with:
          push: true
          tags: vertefra/test_actions:latest